body {
  background: #8E2DE2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.select {
  margin-bottom: 20px;
}

.select select {
  width: 60%;
  padding: 10px;
  border: 2px solid #8d959e;
  border-radius: 6px;
  font-size: 16px;
  background-color: #f8f9fa;
  transition: border-color 0.3s ease;
  appearance: none;
}

.select select option:hover {
  background-color: #e9ecef;
}

html, body {
  height: 100%;  /* Asegura que el cuerpo y el HTML ocupen el 100% de la altura de la ventana */
  margin: 0;     /* Elimina márgenes por defecto */
  display: flex; /* Usar Flexbox */
  flex-direction: column; /* Organiza los elementos de arriba hacia abajo */
}

.container {
  flex: 1; /* Hace que el contenido ocupe el espacio disponible y empuje el footer hacia abajo */
}

.footer {
  margin-top: auto; /* Asegura que el footer se coloque siempre al final */
}
