{% extends "layout.html" %}

{% block body %}
<div class="nav">
    <nav>
        <ul>
            <li><a href="{{ url_for('clientes') }}">CLIENTES</a></li>
            <li><a href="{{ url_for('servicios') }}">SERVICIOS</a></li>
            <li><a href="{{ url_for('habitaciones') }}">HABITACIONES</a></li>
            <li><a href="{{ url_for('sucursales') }}">SUCURSALES</a></li>
        </ul>
    </nav>
</div>

{% endblock %}
            <!-- <li><a href="{{ url_for('reservas') }}">RESERVAS</a></li> -->
            <!-- <li><a href="{{ url_for('facturas') }}">FACTURAS</a></li> -->
            <!-- <li><a href="{{ url_for('informes') }}">INFORMES</a></li> -->

